.modal {
  &__container {
    z-index: 9999;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: ' ';
    background: rgba(0, 0, 0, 0.7);
  }
  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: $primary-color;
    border: 3px solid $secondary-color;
    border-radius: 8px;

    width: 100%;

    &--small {
      max-width: 400px;
      //max-height: 200px;
    }
    &--medium {
      max-width: 600px;
      //max-height: 400px;
    }
    &--large {
      max-width: 1000px;
      //max-height: 600px;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 10px 10px 20px;

    h3 {
      margin: 0;
    }

    button {
      color: $secondary-color;
      height: calc(24px + 10px + 10px); // svg height + paddings top & bottom
    }
  }
  &__content {
    border-top: 3px solid $primary-color-darker;
    overflow-x: hidden;
    overflow-y: auto;

    .modal__box--small & {
      //max-width: 400px;
      max-height: 200px;
    }
    .modal__box--medium & {
      //max-width: 600px;
      max-height: 400px;
    }
    .modal__box--large & {
      //max-width: 1000px;
      max-height: 600px;
    }

    & > div {
      padding: 10px 20px 20px 20px;
    }

    & img {
      max-width: 100%;
    }
  }
}
