// colors

// backgrounds
$primary-color: #0d062e; // 07031a // 0a043c
$primary-color-ligher: lighten($primary-color, 5%);
$primary-color-darker: darken($primary-color, 5%);

// actions, highlight
$secondary-color: #4f8a8b; // 4f8a8b //03506f
$tertiary-color: #fbd46d; // f4f6ff //ffe3d8

// text
$text-color: #f4f6ff; // fbd46d // bbbbbb
